body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100vw;
    color: black;
  }
  
  .container {
    padding: 20px;
    text-align: center;
  }
  
  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(60, 60, 60, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4rem;
  }
  
  .headerText {
    margin: 0;
    font-size: 1rem;
  }
  
  .title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  .header{
    z-index: 999;
  }